@charset "UTF-8";
:root{
    --text-color: #d88405;
    --icon-color: #383838a8;
    --btn-color: #bb7d21;
    --btnBorderB-color: #6d583c;
    --btnText-color: #e0e0e0;
    --footerBackG-color: rgb(231, 198, 157);
    --background-color: rgb(238, 237, 233);
}
body{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
    color: var(--text-color);
    min-width: 750px;
    min-height: 1040px;
    width:100%;
    height: 100%;
    background-color: var(--background-color);
    margin: 0px;
}
    /* Main */
main {
	position: relative;
	margin: 0 auto;
	width: 700px;
	height: 100%;
	padding: 50px 0px 50px
}