@charset "UTF-8";
:root{
    --text-color: #d88405;
    --icon-color: #383838a8;
    --btn-color: #bb7d21;
    --btnBorderB-color: #6d583c;
    --btnText-color: #e0e0e0;
    --footerBackG-color: rgb(231, 198, 157);
    --background-color: rgb(238, 237, 233);
}
    /* Main */
main {
	width: 856px;
	height: 700px;
}

.calculator {
	margin-top: 50px;
	display: flex;
}

.calendar {
	width: 434px;
}

.cal_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.year-month {
	font-size: 30px;
	color: var(--icon-color);
}

.nav-btn {
	width: 28px;
	height: 30px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	line-height: 34px;
	background-color: transparent;
	cursor: pointer;
	color: var(--text-color);
}

.nav button:hover {
	color: var(--background-color);
	background-color: var(--text-color);
}

.go-today {
	width: 75px;
}

.days {
	display: flex;
	margin: 25px 0 10px;
}

.day {
	width: calc(429px / 7);
	text-align: center;
}

.dates {
	display: flex;
	flex-flow: row wrap;
	height: 400px;
	border: 2px solid var(--text-color);
}

.date {
	background-color: transparent;
	width: calc(426px / 7);
	padding: 10px 0px;
	border: none;
	display: inline-flex;
	align-items: flex-start;
    justify-content: center;
}

.date:hover {
	background-color: var(--footerBackG-color);
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
	opacity: .3;
}

.today {
	background-color: var(--text-color);
	color: var(--btnText-color);
	font-weight: bold;
}

.today:hover {
	color: var(--icon-color);
}

.note {
	width: 390px;
	height: 495px;
	margin-left: 35px;
	border: 2px solid var(--text-color);
}

.note_header {
	margin: -1px;
	height: 95px;
	border-bottom: 2px solid var(--text-color);
	font-size: 20px;
}

#selectDate {
	
}

.note_main {
	height: 399px;
}