@charset "UTF-8";
/* Footer */
.footer{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}
footer{
	position: relative;
   	height: 100px;
    padding: 10px 0;
    bottom: 0;
    min-width: 750px;
    border-top: 1px solid var(--text-color);
}
.footerString{
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}
.footerli{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.footerli i{
    color: var(--icon-color);
    font-size: 20px;
    padding: 8px 12px;
}
.night_day{
    display:block;
    height: 40px;
    width: 80px;
    background-color: var(--btn-color);
    border-radius: 15px;
    border: none;
    outline: none;
    transition: all 0.1s;
    border-bottom: 4px solid var(--btnBorderB-color);
    position: absolute;
    color: var(--btnText-color);
}
.night_day:active{
    transform: translateY(3px);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--btnBorderB-color);
}
    /* Footer */
