@charset "UTF-8";
:root{
    --text-color: rgb(216, 132, 5);
    --icon-color: rgba(56, 56, 56, 0.658);
    --btn-color: rgb(205, 138, 63);
    --btnBorderB-color: rgb(109, 88, 60);
    --btnText-color: rgb(240, 240, 240);
    --footerBackG-color: rgb(231, 198, 157);
    --background-color: rgb(238, 237, 233);
}
body{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0px;
}
    
    /* Main */
main {
	position: relative;
    margin: 0 auto;
    width: 1129px;
    padding: 100px 0px 100px;
    min-width: 750px;
    min-height: 600px;
    height: 100%;
}
img.hand{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: 8px solid;
    border-color:  var(--text-color);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
#content{
	font-family: 'Nanum Myeongjo', serif;
	font-size: 20px;
	width: 500px;
	height: 115px;
	margin: 10px auto;
	padding: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.mainIntro{
    text-align: center;
}
.mainBtn{
    display: flex;
    justify-content: center;
    text-align: center;
}
.Mbtn{
	font-family: 'Noto Sans KR', sans-serif;
	width: 170px;
	height: 70px;
    font-size: 25px;
    padding: 10px 20px;
    color: var(--btnText-color);
    background: var(--btn-color);
    margin: 10px;
    border-style: none;
    border-radius: 10px;
}
    /* Main */