@charset "UTF-8";
/* Header */
.header{
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid var(--text-color);
}
header{
	position: relative;
    padding: 8px;
    margin: 0px;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    min-width: 750px;
    width: 100%;
}
    /* Hembuger Button Toggle */
#list {
    margin: 0;
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s linear;
}
a:focus+#list {
    max-height: 15em;
}
a[href="nowhere"]:focus {
    pointer-events: none;
}
.navbarMenu {
    list-style: none;
    padding-left: 0;
}
.navbarMenu li {
    display: flex;
    padding: 8px 12px;
}
/* .navbarMenu li:hover {
    background-color: rgb(201, 193, 185);
    border-radius: 10px;
    font-size: 15px;
} */
.navbarMenu a {
    text-decoration: none;
    color: var(--icon-color);
}
.headerToggle {
    padding: 15px;
    font-size: 24px;
    color: var(--icon-color);
}
.log_sign {
    list-style: none;
    display: flex;
    align-items: center;
}
.log_sign i{
    padding: 8px 12px;
    color: var(--icon-color);
    font-size: 18px;
}
.log_sign a{
    text-decoration: none;
    padding: 8px 12px;
    color: var(--icon-color);
}
    /* Header */