@charset "UTF-8";
#write {
	text-align: right;
	font-weight: bold;
	font-size: 14px;
	margin: 10px 0px;
}
#write a {
	text-decoration: none;
	padding: 5px;
	border-radius: 15px;
	border: 2px solid var(--icon-color);
	cursor: pointer;
	color: var(--text-color);
	border-color: var(--text-color);
}
#write a:hover {
	color: var(--background-color);
	background-color: var(--text-color);
}
.table {
	width: 700px;
	border-collapse: collapse;
	font-weight: normal;
}
.table th {
	border-spacing: 0px;
	padding: 15px 0px;
	font-size: 18px;
	color: var(--btn-color);
	border-bottom: 2px solid var(--btn-color);
}
.table td {
	height: 40px;
	font-size: 18px;
}
.table td a {
	text-decoration: none;
	color: var(--icon-color);
}
#id {
	width: 40px;
	text-align: center;
}
#title {
	width: 200px;
}
#regDate {
	width: 100px;
	text-align: center;
}
#writer {
	width: 100px;
	text-align: center;
}
#viewCnt {
	width: 40px;
	text-align: center;
}
.pageNum {
	margin-top: 30px;
	text-align: center;
}
.pageNum a {
	font-size: 20px;
	text-decoration: none;
	color: var(--icon-color);
	margin: 15px;
}
.pageNum #selectPage {
	color: var(--text-color);
	font-weight: bold;
}