@charset "UTF-8";
:root{
    --text-color: #d88405;
    --icon-color: #383838a8;
    --btn-color: #bb7d21;
    --btnBorderB-color: #6d583c;
    --btnText-color: #e0e0e0;
    --footerBackG-color: rgb(231, 198, 157);
    --background-color: rgb(238, 237, 233);
}
body{
	font-family: 'KoHo', sans-serif;
	font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0px;
    min-width: 750px;
    min-height: 1240px;
    width:100%;
    height: 1240px;
    background-color: var(--background-color);
}
    /* Main */
main{
	position: relative;
    margin: 0 auto;
    width: 1130px;
    height: 920px;
    padding: 50px 0px 50px
}
#sign_form{
	width: 510px;
	margin: 0 auto;
}
#sign_form h1{
	height: 60px;
}
.form-group{
	width: 510px;
}
.form-control{
	height: 17px;
	font-size: 18px;
	width: 100%;
	margin: 0 auto;
}
.signIn_box input{
	width: 500px;
    list-style: none;
    padding: 8px 0px;
}
.signIn_box select{
	height: 37px;
	width: 143px;
	font-size: 18px;
}
#user_email {
	width: 160px;
}
#email_domain {
	height: 17px;
	font-size: 18px;
	width: 160px;
}
.signIn_box button{
	font-size: 20px;
    padding: 10px 20px;
    background: var(--btn-color);
    color: var(--btnText-color);
    border-style: none;
    border-radius: 10px;
    width: 510px;
}
.reg_button{
	text-align: center;
}
    /* Main */