@charset "UTF-8";
.view {
	background-color: rgb(245 245 245); 
	border: 1px solid;
	height: 500px;
}
.view_pnl {
	height: 120px;
	border-bottom: 1px solid;
}
.title {
	height: 100px;
	padding: 10px 20px;
}
.title .regDate_con {
	font-size: 15px;
	color: #9d9d9d;
}
.title .writer {
	font-size: 19px;
	font-weight: normal;
}
.viewCnt {
	float: right;
	padding-right: 5px;
}
.title_con {
	margin: 5px 0px;
	font-size: 30px;
}
.content {
	height: 280px;
	font-weight: normal;
}
.content .view_form {
	height: 280px;
	padding: 20px;
}
.footer_nav {
	float: right;
	margin: 10px;
	height: 50px;
	width: 130px;
}
.footer_nav a {
	text-decoration: none;
	padding: 5px;
	border-radius: 15px;
	border: 2px solid var(--icon-color);
	cursor: pointer;
	color: var(--text-color);
	border-color: var(--text-color);
	font-weight: bold;
	font-size: 14px;
	margin: 0px 10px;
}
.footer_nav a:hover {
	color: var(--background-color);
	background-color: var(--text-color);
}

