@charset "UTF-8";
:root{
    --text-color: rgb(216, 132, 5);
    --icon-color: rgba(56, 56, 56, 0.658);
    --btn-color: rgb(187, 125, 33);
    --btnBorderB-color: rgb(109, 88, 60);
    --btnText-color: rgb(224, 224, 224);
    --footerBackG-color: rgb(231, 198, 157);
    --background-color: rgb(238, 237, 233);
}
:root.dark-theme {
    --text-color: rgb(224, 224, 224);
    --icon-color:rgb(224, 224, 224);
    --btn-color: rgb(163, 98, 0);
    --btnBorderB-color: rgb(68, 48, 30);
    --btnText-color: rgb(235, 225, 225);
    --footerBackG-color: rgb(170, 142, 107);
    --background-color: rgb(53, 51, 51);
}
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(224, 224, 224);
        --icon-color:rgb(224, 224, 224);
        --btn-color: rgb(163, 98, 0);
        --btnBorderB-color: rgb(68, 48, 30);
        --btnText-color: rgb(235, 225, 225);
        --footerBackG-color: rgb(170, 142, 107);
        --background-color: rgb(53, 51, 51);
    }
    :root.light-theme {
        --text-color: rgb(216, 132, 5);
        --icon-color: rgba(56, 56, 56, 0.658);
        --btn-color: rgb(187, 125, 33);
        --btnBorderB-color: rgb(109, 88, 60);
        --btnText-color: rgb(224, 224, 224);
        --footerBackG-color: rgb(231, 198, 157);
        --background-color: white;
    }
}
.view {
	background-color: rgb(245 245 245); 
	border: 1px solid;
	height: 500px;
}
.view_pnl {
	height: 120px;
	border-bottom: 1px solid;
}
.title {
	height: 100px;
	padding: 10px 20px;
}
.title .regDate_con {
	font-size: 15px;
	color: #9d9d9d;
}
.title .writer {
	margin-top: 10px;
}
.title #writer {
	font-size: 19px;
}
#title {
	margin-right: 20px;
	font-size: 19px;
}
.title_con {
	margin: 5px 0px;
	height: 34px;
	font-size: 20px;
	width: 585px;
}
#user_id {
	margin: 0px 10px;
}
.content {
	height: 380px;
}
.view_form {
	height: 340px;
	padding: 20px;
}
.view_form #content {
	font-size: 19px;
	margin-bottom: 10px;
}
.view_form textarea {
	width: 650px;
	height: 300px;
	resize: none;
	font-size: 17px;
}
.footer_nav {
	float: right;
	margin: 10px;
	height: 42px;
	width: 42px;
}
.footer_nav button {
	text-decoration: none;
	padding: 5px;
	border-radius: 15px;
	border: 2px solid var(--icon-color);
	cursor: pointer;
	color: var(--text-color);
	border-color: var(--text-color);
	font-weight: bold;
	font-size: 14px;
}
.footer_nav button:hover {
	color: var(--background-color);
	background-color: var(--text-color);
}

